.SVGIcon {
  width: 6rem;
  height: 6rem;
  padding: 1.25rem;
  margin-bottom: 2rem;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 22px 1px rgba(110, 111, 112, 0.07),
    0 2px 13px 3px rgba(135, 136, 138, 0.07);
}
